
.navsection{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    height: 80px;
}
.navMenu{
    display: flex;
    align-items: center;

}
/* .AppMini{
    width: 60px !important;
} */



.media{
    z-index: 1000;
    background-color: #fff;
}

@media screen and (max-width: 992px) {
    .navMenu  {
        position: fixed;
        top: 0;
        left: -120%;
        width: 300px;
        height: 100%;
        background-color: #fff;
        align-items: center;
        justify-content: center;
        transition: .5s;
       
    }
    .navMenu .media {
        padding: 0 !important;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .navMenuShow{
        left: 0;
        transition: 0.5s;
    }
    
}
