li{
    list-style: none;
    padding: 0 !important;
    margin: 0 !important;
    
}
.link{
    text-decoration: none;
    text-transform: capitalize;
    margin-left: 12px;
    color: black;
    font-size: 12px;
    font-weight: 700;
    /* margin-right:15px; */
}
.link:hover{
    color: black;
}